.heading{
    text-align: center;
}
body{
    background-color:#FFFFFF;

    }
  
div{ 
    margin-top: 3%;
        margin-left:5%;
        padding-left: 10%; 
         display:inline-block; 
           
     } 
img{
    width:300px;
    height:300px;
    
}  
h5{
    font-family:  serif;
    font-weight: bold;
}
p{
    font-family:'Lucida Sans';
    padding-top:0.01em;;
}
.img_kitchen1
    {
     
        border-top-right-radius: 25%;
       }  
    .img_kitchen2
    {
      
        border-top-left-radius: 25%;
    }  
    .img_kitchen3
    {
        
        border-bottom-right-radius: 25%;
    }  
    .img_kitchen4
    {
        
       
        border-bottom-left-radius: 25%;
    }  
.describe{
    text-align:center;
    font-size:18px;
    line-height:25px;
}
button{
    border-radius: 50%;
    font-weight: bold ;
    margin-left:65%;  
   background-color: #F4F0EC;
    position:relative;
 
   }