body
{
    background-color:ivory;
   }
#all-container{
    margin-left: 5%;

    }

img{
     position:absolute;
    width:650px;
    height:550px;
    left: 393px;
    top: 8px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    margin-left: 13%;
    }
#arrow{
    color:coral;
    font-size: 20px;
 }
P{
    width: 472px;
    font-family:Cambria, Cochin, serif;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #4D5053;
}
h2{
    width: 500px;
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.02;
    color: #292F36;
}
 button{
    margin-top:2%;
    }
  #phone { 
       font-size:33px;
         color:lightgoldenrodyellow;
        -webkit-text-stroke:2px peru;
         background:lightgoldenrodyellow;
         padding: 30px;
         border-radius: 50px;      
            } 
         
    .number{ 
        position:absolute;
        font-size: 20px;
        margin-left:15px;
        margin-top:20px;
       display: inline-block;
          } 