body
{
    background-color:ivory;
   
}
#all{
    margin-left: 5%;
}

img{
    position:absolute;
width: 650px;
height: 600px;
left: 493px;
top: 8px;
border-top-right-radius: 200px;
border-bottom-left-radius: 200px;
margin-left: 13%;
}
#arrow{
    color:coral;
    height:5px;
    font-weight: bolder;
    display:inline ;
}
#phone{
    -webkit-text-stroke-color:20px rgb(112, 95, 112);
 
}
P{
    width: 472px;
height: 132px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
display: flex;
align-items: center;
letter-spacing: 0.01em;
color: #4D5053;

}
h2{
    
width: 420px;
height: 189px;

font-family:'Times New Roman', Times, serif;
font-style:bolder;
font-weight: 500%;
font-size: 48px;
line-height: 125%;
letter-spacing: 0.02;
color: #292F36;

}
button{
    margin-left: 5%;
    margin-top:2%;
}
#phone{
    height: 10px;
}
